In [ ]:
# nested for loops

In [ ]:
for i in range(5):
  for j in range(5):
    print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

        *****
        *****
        *****
        *****
        *****

In [ ]:
for i in range(5):
  for j in range(5):
    print("*",end="")
  print()

*****
*****
*****
*****
*****

        *
        **
        ***
        ****
        *****

In [ ]:
for i in range(5):
  for j in range(i+1):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
for i in range(5):
  for j in range(5):
    if j<=i:
      print("*",end="")
    else:
      break
  print()

*
**
***
****
*****

In [ ]:
count = 4
for i in range(5):
  for j in range(5):
    if j>=count:
      print("*",end="")
    else:
      print(" ", end="")
  print()
  count = count-1

    *
   **
  ***
 ****
*****

In [ ]:
count = 4
for i in range(5):
  for j in range(5):
    if j>=count:
      print("*",end="")
    else:
      print(" ", end="")
  for j in range(i):
    print("*", end="")
  print()
  count = count-1

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(0,5,1):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(100,-10,-2):
  print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2
0
-2
-4
-6
-8