In [4]:
for i in range(5):
 for j in range(6):
   print("*",end="")
 print()

******
******
******
******
******

In [6]:
for i in range(5):
 for j in range(i+1):
  print("*",end="")
 print()

*
**
***
****
*****

In [8]:
for i in range(8):
 for j in range(i+2):
  print("*",end="")
 print()

**
***
****
*****
******
*******
********
*********

In [13]:
for i in range(1,11):
 print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [15]:
for i in range(10,0,-1):
 print("*"*i)

**********
*********
********
*******
******
*****
****
***
**
*

In [18]:
for i in range(1,8):
  print(' '*(8-i)+"*"*i)

       *
      **
     ***
    ****
   *****
  ******
 *******

In [20]:
for i in range(1,11):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [21]:
for i in range(10,0,-1):
  print("*"*i)

**********
*********
********
*******
******
*****
****
***
**
*

In [23]:
for i in range(1,8):
  print(' '*(8-i)+"*"*i)

       *
      **
     ***
    ****
   *****
  ******
 *******

In [24]:
for i in range(8,0,-1):
  print(' '*(8-i)+'*'*i)

********
 *******
  ******
   *****
    ****
     ***
      **
       *

In [25]:
for i in range(1,7):
  print(' '*(6-i)+'* '*i)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [26]:
for i in range(5):
  for j in range(5):
    if j==0 or j==i or j==4:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

*       *
* *     *
*   *   *
*     * *
*       *

In [34]:
for row in range(7):
  for col in range(5):
    if ((col==0 or col==4) and row!=0) or ((row==0 or row==3) and (col>0 and col<4)):
       print('*',end="")
    else:
       print(end=" ")
  print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [43]:
for row in range(7):
 for col in range(5):
    if (col==0 or col==4) or (row==0 or row==3 or row==6):
       print('*',end="")
    else:
      print(end=" ")
 print()

*****
*   *
*   *
*****
*   *
*   *
*****

In [44]:
for row in range(7):
 for col in range(5):
    if (col==0 or row==0 or row==6):
       print('*',end="")
    else:
      print(end=" ")
 print()

*****
*
*
*
*
*
*****

In [48]:
for row in range(7):
 for col in range(5):
    if (col==0) or (col==4 and (row!=0 and row!=6)) or ((row==0 or row==6) and (col<4)):
      print("*",end="")
    else:
      print(end=" ")
 print()

****
*   *
*   *
*   *
*   *
*   *
****

In [53]:
for row in range(7):
 for col in range(5):
    if (col==0 or row==0 or row==3 or row==6):
      print("*",end="")
    else:
      print(end=" ")
 print()

*****
*
*
*****
*
*
*****

In [54]:
for row in range(7):
 for col in range(5):
    if(col==0 or row==0 or row==3):
      print("*",end="")
    else:
      print(end=" ")
 print()

*****
*
*
*****
*
*
*

In [78]:
for row in range(7):
 for col in range(6):
     if (col==0) or (col==4 and (row!=1 and row!=2)) or ((row=0 or row==6) and (col>0 and col<4)) 
         or (row==3 and (col==3 or col==5)):
           print("*",end="")
    else:
     print(end=" ")
 print()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [72]:
for row in range(7):
    for col in range(6):
        if (col == 0) or (col == 4 and (row != 1 and row != 2)) or ((row == 0 or row == 6) and (col > 0 and col < 4)) or (row == 3 and (col == 3 or col == 5)):
            print("*", end="")
        else:
            print(end=" ")
    print()

*****
*
*
*  ***
*   *
*   *
*****

In [84]:
for row in range(7):
 for col in range(5):
    if (col==0 or col==4 or row==3):
       print('*',end="")
    else:
      print(end=" ")
 print()

*   *
*   *
*   *
*****
*   *
*   *
*   *

In [85]:
for row in range(7):
 for col in range(5):
    if (col==2 or row==0 or row==6):
       print('*',end="")
    else:
      print(end=" ")
 print()

*****
  *
  *
  *
  *
  *
*****

In [91]:
for row in range(7):
 for col in range(5):
    if (col==2 or row==0) or (col==0 and row!=1 and row!=2 and row!=3) :
       print('*',end="")
    else:
      print(end=" ")
 print()

*****
  *
  *
  *
* *
* *
* *

In [102]:
for row in range(7):
 for col in range(5):
    if (col==0 or row==6):
       print('*',end="")
    else:
      print(end=" ")
 print()

*
*
*
*
*
*
*****

In [113]:
for row in range(7):
 for col in range(7):
    if (col==0 or col==6) or ((row==col) and (col>0 and col<4)) or (row==1 and col==5) or (row==2 and col==4):
      print('*',end="")
    else:
      print(end=" ")
 print()

*     *
**   **
* * * *
*  *  *
*     *
*     *
*     *

In [130]:
for row in range(7):
  for col in range(5):
    if (col==0 or col==4) and (row!=0 and row!=6) or (row==0 or row==6) and (col>0 and col<4):
      print("*",end="")
    else:
      print(end=" ")
  print()

 ***
*   *
*   *
*   *
*   *
*   *
 ***

In [141]:
for row in range(6):
  for col in range(7):
    if (col==0 or col==6 or row==col):
      print("*",end="")
    else:
      print(end=" ")
  print()

*     *
**    *
* *   *
*  *  *
*   * *
*    **

In [155]:
for row in range(7):
  for col in range(5):
    if (col==0) or (col==4 and (row==1 or row==2)) or (row==0 or row==3) and (col<4):
      print("*",end="")
    else:
      print(end=" ")
  print()

****
*   *
*   *
****
*
*
*

In [163]:
for row in range(7):
  for col in range(5):
    if (col==0) or (col==4 and (row==1 or row==2)) or (row==0 or row==3) and (col<4) or (col==4 and (row==4 or row==5 or row==6)):
      print("*",end="")
    else:
      print(end=" ")
  print()

****
*   *
*   *
****
*   *
*   *
*   *

In [168]:
for row in range(7):
  for col in range(5):
    if ((row==0 or row==3 or row==6) and (col>0 and col<4)) or (col==0 and (row>0 and row<3)) or (col==4 and (row>3 and row<6)): 
      print("*",end="")
    else:
      print(end=" ")
  print()

 ***
*
*
 ***
    *
    *
 ***

In [169]:
for row in range(6):
  for col in range(5):
    if (row==0 or col==2):
      print("*",end="")
    else:
      print(end=" ")
  print()

*****
  *
  *
  *
  *
  *