In [1]:
for i in range(5):
  for j in range(5):
    print("i=",i)
    print("j=",j)

i= 0
j= 0
i= 0
j= 1
i= 0
j= 2
i= 0
j= 3
i= 0
j= 4
i= 1
j= 0
i= 1
j= 1
i= 1
j= 2
i= 1
j= 3
i= 1
j= 4
i= 2
j= 0
i= 2
j= 1
i= 2
j= 2
i= 2
j= 3
i= 2
j= 4
i= 3
j= 0
i= 3
j= 1
i= 3
j= 2
i= 3
j= 3
i= 3
j= 4
i= 4
j= 0
i= 4
j= 1
i= 4
j= 2
i= 4
j= 3
i= 4
j= 4

In [ ]:
     1
    1 2
  1  2  3
1  2   3  4

In [8]:
for i in range(1,5):
  print(' '*(5-i),end='')
  for j in range(1,i+1):
    print(j,end=' ')
  print()

    1
   1 2
  1 2 3
 1 2 3 4

In [ ]:
       1
      232
     34543
    4567654
   567898765

In [30]:
c=2
s=1
for i in range(1,6):
  print(' '*(6-i),end='')
  for j in range(1,c):
    print(s,end='')
    if s>=i:
      s-=1
    else:
       s+=1
  print()
  c+=2

     1
    012
   12323
  2343434
 345454545

In [48]:
c=1
s=1
r=1
for i in range(1,6):
  print(' '*(6-i),end='')
  for j in range(1,c+1):
    print(s,end='')
    if s>=r:
      s-=1
    else:
      s+=1
  print()
  c+=2
  r+=2

     1
    012
   34545
  4567676
 789898989